@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
  --font-playfair: 'Playfair Display', serif;
  --font-space: 'Space Grotesk', sans-serif;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: #efefef;
}